@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-wrap: nowrap;   
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
   flex: 0 0 auto;                /* ocupa exactamente 100vw */
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
  }
}
